.App {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  padding-top: 80px;
  padding-bottom: 16px;
  box-sizing: border-box;

  &__block {
    padding: 16px;
    width: 100%;
  }
}

